<div class="container">
  <h1 data-testid="Expense Tracker" >{{ title }}</h1>

  <form>
    <div class="form-group">
      <label data-testid = "item-label-text" for="item">Item</label>
      <input data-testid="item-input"type="text" id="item" [(ngModel)]="newExpense.item" name="item" class="form-control">
    </div>
    <div class="form-group">
      <label data-testid = "amount-label-text" for="amount">Amount</label>
      <input data-testid= "amount-input" type="number" id="amount" [(ngModel)]="newExpense.amount" name="amount" class="form-control">
    </div>
    <button data-testid = “add-exp-btn” type="button" (click)="addExpense()" class="btn btn-primary">Add</button>
  </form>


  <table class="table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses; let i = index">
        <td data-testid = " expense-item-1">{{ expense.item }}</td>
        <td data-testid = " expense-amount-">${{ expense.amount }}</td>
        <td>
          <button type="button" (click)="removeExpense(i)" class="btn btn-danger">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>

  <h3 data-testid="expense-total">Total: ${{ totalExpense }}</h3>
</div>
<router-outlet></router-outlet>
